body{
	width:100%;
	background-color: #999;
}

.channel{
	margin:0 auto;
	border: 2px solid red;
	width:175px;
	float:left;
	min-height: 800px;
	height:auto;
	position: relative;
}
.fades{
	position: absolute;
	bottom:0;
}
.aux{
	display:flex;
	align-items: flex-end;
	float:right;

}

.master{
	display:flex;
	align-items: flex-end;
	float:right;
}

input{
	margin: 0 auto;
}