body{
	width:100%;
	background-color: #999;
}

.channel{
	margin:0 auto;
	border: 2px solid red;
	width:175px;
	float:left;
	min-height: 800px;
	height:auto;
	position: relative;
}
.fades{
	position: absolute;
	bottom:0;
}

input{
	margin: 0 auto;
}

#container{
	display:flex;
}


.fill{
	flex: 1 0;
}

.mute{
	height:25px;
	width:25px;
	display: inline-block;
	vertical-align: top;
}
.active{
	background-color: red;
}

.filein{
	opacity:0;
	display:none;
}