body{
	background-color: #999;
}

.channel{
	margin:0 auto;
	border: 2px solid red;
	width:11.11vw;
	height:95vh;
	float:left;
	position: relative;
}
.fades{
	position: absolute;
	bottom:0;
}

input,button{
	margin: 0 auto;
	width:80%;
}

.container-fluid{
	display:flex;
	/* width:100%;
	height:100%; */
}


.fill{
	flex: 1 0;
}

.mute, .solo{
	height:25px;
	width:25px;
	display: inline-block;
	vertical-align: top;
}
.active{
	background-color: red;
}

.filein{
	opacity:0;
	display:none;
}

canvas{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}